<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joreb.gamingstore_jordi_reyes_bustos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PantallaPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PantallaPerfilLoginRegistro"
            android:parentActivityName=".PantallaPrincipal" />
        <activity
            android:name=".PantallaLogin"
            android:parentActivityName=".PantallaPerfilLoginRegistro" />
        <activity
            android:name=".PantallaRegistro"
            android:parentActivityName=".PantallaPerfilLoginRegistro" />
        <activity
            android:name=".PantallaSelecionPlataforma"
            android:parentActivityName=".PantallaPrincipal" />
        <activity
            android:name=".PantallaListaJuegosPS4"
            android:parentActivityName=".PantallaSelecionPlataforma" />
        <activity android:name=".PantallaJuegoPS4" />
        <activity
            android:name=".PantallaListaJuegosXBOX"
            android:parentActivityName=".PantallaSelecionPlataforma" />
        <activity android:name=".PantallaJuegoXBOX" />
        <activity
            android:name=".PantallaListaJuegosPC"
            android:parentActivityName=".PantallaSelecionPlataforma" />
        <activity android:name=".PantallaJuegoPC" />
        <activity
            android:name=".PantallaListaJuegosSWITCH"
            android:parentActivityName=".PantallaSelecionPlataforma" />
        <activity android:name=".PantallaJuegoSWITCH"></activity>
    </application>

</manifest>